In [3]:
import mhkit
from mhkit import wave

In [4]:
lat_lon = [44.624076,-124.280097]
region = wave.io.hindcast.region_selection(lat_lon)
print(region)

West_Coast

In [5]:
data_type = '3-hour' # setting the data type to the 3-hour dataset
years = [1995]
lat_lon = (44.624076,-124.280097)
parameter = 'significant_wave_height'

Hs, metadata= wave.io.hindcast.request_wpto_point_data(data_type,parameter,lat_lon,years)

In [6]:
metadata

,water_depth,latitude,longitude,distance_to_shore,timezone,jurisdiction
0,77.429497,44.624298,-124.278999,15622.175781,-8,Federal

In [7]:
Hs.head()

                           significant_wave_height_0
time_index
1995-01-01 00:00:00+00:00                    2.35354
1995-01-01 03:00:00+00:00                    2.39468
1995-01-01 06:00:00+00:00                    2.45756
1995-01-01 09:00:00+00:00                    2.55913
1995-01-01 12:00:00+00:00                    2.66992